* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;

  color: white;
  font-family: 'Poppins', sans-serif;

  overflow-x: hidden;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
